body{
           
    max-width: 1200px;
    margin: auto;
    margin-top: 0.5em;
    color: black;
}

/* header */
.header{
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 10px;
}
.MSSV{
    position: absolute;
}
.KeyAPI{
    position: absolute;
    right: 2px;
    top: 2px;
}
.DarkmodeButton{
    position: absolute;
    right: 2px;
    bottom: 5px;
}

/* navbar */
.navbar{
    margin-bottom: 5px;
}

/* sliding img */
.Image_Slide {
    transition: transform 0.2s;
}
.Image_Slide:hover{
    width: 200px;
    height: 250px;
    
}

/* search card */
.Card_Grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    align-content: space-between;
}
.card{
    margin: 5px;
}